@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Mint-green: #bee9e8;
  --Moonstone: #62b6cb;
  --Indigo-dye: #1b4965;
  --Columbia-blue: #cae9ff;
  --Picton-blue: #5fa8d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #eaeaea;
}
main {
  border: 0.1px solid rgba(0, 0, 0, 0);
  background-color: #eaeaea;
  width: 100%;
  height: 100%;
}

/* ----------------------
|       nav       |
---------------------- */
nav {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: var(--Picton-blue);
  /* box-shadow: 3px 3px 3px grey; */
  position: fixed;
  z-index: 1;
}
a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  list-style: none;

  margin-right: 7rem;
  gap: 1.5rem;
}
.ul-nav {
  max-width: 60%;
  margin-right: 30px;
}
.logo-nav {
  font-family: "Cabin Sketch", sans-serif;
  font-size: 35px;
  margin: 0 3.5rem;
}
.ul-items a:hover {
  color: var(--Columbia-blue);
  cursor: pointer;
}

.button-contact {
  border: 0.1rem solid var(--Indigo-dye);
  border-radius: 10px;
  width: 120rem;
  font-size: medium;
  font-weight: 500;
  background-color: var(--Indigo-dye);
  color: aliceblue;
  text-align: center;
  padding: 1rem;
}

a.button-contact:hover {
  cursor: pointer;
  background-color: #eaeaea;
  color: var(--Indigo-dye);
}
.space {
  height: 10vh;
}

select {
  /* appearance: none; */
  /* background-image: url("./Main/Images/icons8-españa-2-16.png"); */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  background: url("./Images/icons8-españa-2-32.png") no-repeat left center;
  text-align: end;
  width: 120px;
  height: 30px;
  font-size: medium;
  border: 0.1rem solid var(--Picton-blue);
  border-radius: 10px;
  cursor: pointer;
}
select:hover {
  background-color: #1b4965;
}
option {
  background-color: #1b4965;
}

#check {
  display: none;
}

/* ----------------------
|       Slider       |
---------------------- */
.title {
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;

  text-align: center;
}
.container__slider {
  max-width: 1000px;
  height: 350px;
  margin: 2rem auto;

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

input[type="radio"] {
  display: none;
  background-color: none;
}

.container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slider-cards label img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  /* -o-object-fit: cover; */
  object-fit: cover;
}

#item-2:checked ~ .slider-cards #selector-1,
#item-1:checked ~ .slider-cards #selector-5,
#item-3:checked ~ .slider-cards #selector-2,
#item-4:checked ~ .slider-cards #selector-3,
#item-5:checked ~ .slider-cards #selector-4 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.9;
  z-index: 1;
}

#item-4:checked ~ .slider-cards #selector-2,
#item-2:checked ~ .slider-cards #selector-5,
#item-1:checked ~ .slider-cards #selector-4,
#item-3:checked ~ .slider-cards #selector-1,
#item-5:checked ~ .slider-cards #selector-3 {
  transform: translateX(-55%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-3:checked ~ .slider-cards #selector-3,
#item-4:checked ~ .slider-cards #selector-4,
#item-2:checked ~ .slider-cards #selector-2,
#item-1:checked ~ .slider-cards #selector-1,
#item-5:checked ~ .slider-cards #selector-5 {
  transform: translateX(0) scale(1);
  z-index: 99;
}

#item-1:checked ~ .slider-cards #selector-3,
#item-3:checked ~ .slider-cards #selector-5,
#item-4:checked ~ .slider-cards #selector-1,
#item-2:checked ~ .slider-cards #selector-4,
#item-5:checked ~ .slider-cards #selector-2 {
  transform: translateX(55%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-5:checked ~ .slider-cards #selector-1,
#item-1:checked ~ .slider-cards #selector-2,
#item-3:checked ~ .slider-cards #selector-4,
#item-4:checked ~ .slider-cards #selector-5,
#item-2:checked ~ .slider-cards #selector-3 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.9;
  z-index: 1;
}

/* ----------------------
|       Combos        |
---------------------- */
.section-combos {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  background-color: var(--Mint-green);
}

.test {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  /* border: 0.1rem solid var(--Mint-green); */
  border-radius: 1rem;
  /* box-shadow: 10px 1px 6px gray; */
  padding: 10px 50px;
  /* background-color: var(--Mint-green); */
}

.test img {
  object-fit: contain;
  width: 150px;
}
.container-combos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 20rem;
}
.button-icons {
  display: flex;
  justify-content: center;
}
.button-icons button {
  background-color: var(--Indigo-dye);
  width: 10rem;
  height: 2.8rem;
  border: 0.1rem solid var(--Indigo-dye);
  border-radius: 1rem;
  font-size: medium;
  font-weight: 500;
  transition: 0.3s;
  color: aliceblue;

  &:hover {
    background-color: #eaeaea;
    color: var(--Indigo-dye);
  }
}
.title-combos h2 {
  /* font-size: medium; */
  font-size:30px ;
  font-weight: 600;
}
/* ------------------------ */
/* |      Companies       | */
/* ------------------------ */

.section-companies {
  height: 100%;
  width: 100vw;
}
.title-companies{
  margin-top: 4rem;
 font-size: 30px;
 font-weight: 600;
 text-align: end;
 
}

.container-compaines {
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}

.card {
  position: relative;
  /* position:absolute; */
  width: 300px;
  height: 350px;
  margin: 20px 40px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/* ---------------------------------- */
/* Payments */
/* ---------------------------------- */

.section-payments {
  height: 100%;
  width: 100vw;
}

.cont-payments {
  height: 100%;
  width: 100vw;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.payment-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* -o-object-fit: cover; */
  object-fit: contain;
}

.box1,
.box2,
.box3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  /* position: absolute; */
}

.payment-card {
  /* position: relative; */
  width: 170px;
  height: 160px;
  box-shadow: 5px 5px 10px #00000014, -5px -5px 10px #00000014;
  border: 0.1rem solid beige;
  border-radius: 0.8rem;
  background-color: white;
  padding: 25px;
  transition: 0.5s;
}

.payment-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px black;
}

/* -------------------- */
/* |     Footer        | */
/* ----------------------- */

footer {
  width: 100%;
  background: var(--Picton-blue);
  color: black;
  margin-top: 250px;
}

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.colum1 {
  max-width: 400px;
}

.colum1 h1 {
  font-size: 22px;
}

.colum1 p {
  font-size: 14px;
  color: #101010;
  margin-top: 20px;
}

.colum2 {
  max-width: 400px;
}

.colum2 h1 {
  font-size: 22px;
}

.row {
  margin-top: 20px;
  display: flex;
}

.row i {
  width: 36px;
  height: 36px;
  font-size: 30px;
  transition: 0.5s;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #101010;
}

.colum3 {
  max-width: 400px;
}

.colum3 h1 {
  font-size: 22px;
}

.row2 {
  margin-top: 20px;
  display: flex;
}

.row2 i {
  width: 36px;
  height: 36px;
  font-size: 30px;
  transition: 0.5s;
}
i:hover {
  transform: translateY(-10px);
}
.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer {
  width: 100%;
  background: #101010;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: #c7c7c7;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a {
  text-decoration: none;
  color: #c7c7c7;
}

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }

  .colum1 {
    max-width: 100%;
  }

  .colum2,
  .colum3 {
    margin-top: 40px;
  }
  .ul-nav {
    display: none;
  }

  .btn-check {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    gap: 0.65rem;
    justify-content: center;
  }

  .btn-check div {
    background: black;
    height: 2px;
    width: 34px;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: right;
  }

  #check:checked ~ .btn-check:hover div:first-child {
    transform: rotate(-45deg);
  }

  #check:checked ~ .btn-check:hover div:nth-child(2) {
    opacity: 0;
  }

  #check:checked ~ .btn-check:hover div:last-child {
    transform: rotate(45deg);
  }

  #check:checked ~ .ul-nav {
    display: block;
    position: fixed;
    right: 0;
    margin: 0;
    top: 64px;
    
    animation: nav-animation 1s forwards;
  }

  #check:checked ~ .ul-nav > .ul-items {
    flex-direction: column;
    background: var(--Picton-blue);
    margin: 0;
    border-bottom-left-radius: 0.5rem;
  }

  #check:checked ~ .ul-nav > .ul-items > li {
    padding: 1rem;
  }

  #check:checked ~ .ul-nav > .ul-items > li > a {
    display: block;
    width: 60%;
  }

  nav {
    height: auto;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .logo-nav {
    margin: 0;
  }

  .container__slider {
    overflow: hidden;
  }

  .section-combos {
    width: auto;
  }

  .test {
    margin: 0;
    justify-content: center;
    width: auto;
  }

  .test img {
    width: auto;
  }
}

@keyframes nav-animation {
  from {
    width: 0%;
  }

  to {
    width: 50%;
  }
}
