@import "../Main/main.css";


.container-login{
  height: 100vh;
  background-image: url("./trafico-vehiculos-reflexiones-urbano-ciudad.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  

}

#origen{
  width: 20rem;
  height: 3rem;
  border: .1rem solid black;
  border-radius: 2rem;
  background-color: black;
  color: #eaeaea;
  text-align: center;
}

.start-button{
  width: 15rem;
    height: 3rem;
    border: .1rem solid black;
    border-radius: 2rem;
    background-color: black;
    color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.start-button:hover{
  background-color: #62B6CB;
  color: black;
}